- active_tab = local_assigns.fetch(:active_tab, 'blank')
- track_label = local_assigns.fetch(:track_label, 'import_project')

.project-import
  .form-group.import-btn-container.clearfix
    %h5
      = _("Import project from")
    .import-buttons
      - if gitlab_project_import_enabled?
        .import_gitlab_project.has-tooltip{ data: { container: 'body' } }
          = link_to new_import_gitlab_project_path, class: 'btn btn_import_gitlab_project project-submit', **tracking_attrs(track_label, 'click_button', 'gitlab_export') do
            = sprite_icon('tanuki')
            = _("GitLab export")

      - if github_import_enabled?
        %div
          = link_to new_import_github_path, class: 'btn js-import-github', **tracking_attrs(track_label, 'click_button', 'github') do
            = icon('github', text: 'GitHub')

      - if bitbucket_import_enabled?
        %div
          = link_to status_import_bitbucket_path, class: "btn import_bitbucket #{'how_to_import_link' unless bitbucket_import_configured?}",
          **tracking_attrs(track_label, 'click_button', 'bitbucket_cloud') do
            = sprite_icon('bitbucket')
            Bitbucket Cloud
          - unless bitbucket_import_configured?
            = render 'projects/bitbucket_import_modal'
      - if bitbucket_server_import_enabled?
        %div
          = link_to status_import_bitbucket_server_path, class: "btn import_bitbucket", **tracking_attrs(track_label, 'click_button', 'bitbucket_server') do
            = sprite_icon('bitbucket')
            Bitbucket Server
        %div
      - if gitlab_import_enabled?
        %div
          = link_to status_import_gitlab_path, class: "btn import_gitlab #{'how_to_import_link' unless gitlab_import_configured?}",
          **tracking_attrs(track_label, 'click_button', 'gitlab_com') do
            = sprite_icon('tanuki')
            = _("GitLab.com")
          - unless gitlab_import_configured?
            = render 'projects/gitlab_import_modal'

      - if google_code_import_enabled?
        %div
          = link_to new_import_google_code_path, class: 'btn import_google_code', **tracking_attrs(track_label, 'click_button', 'google_code') do
            = sprite_icon('google')
            Google Code

      - if fogbugz_import_enabled?
        %div
          = link_to new_import_fogbugz_path, class: 'btn import_fogbugz', **tracking_attrs(track_label, 'click_button', 'fogbugz') do
            = sprite_icon('bug')
            FogBugz

      - if gitea_import_enabled?
        %div
          = link_to new_import_gitea_path, class: 'btn import_gitea', **tracking_attrs(track_label, 'click_button', 'gitea') do
            = custom_icon('gitea_logo')
            Gitea

      - if git_import_enabled?
        %div
          %button.btn.btn-svg.js-toggle-button.js-import-git-toggle-button{ type: "button", data: { toggle_open_class: 'active' }, **tracking_attrs(track_label, 'click_button', 'repo_url') }
            = sprite_icon('link', css_class: 'gl-icon')
            = _('Repo by URL')

      - if manifest_import_enabled?
        %div
          = link_to new_import_manifest_path, class: 'btn import_manifest', **tracking_attrs(track_label, 'click_button', 'manifest_file') do
            = sprite_icon('doc-text')
            Manifest file

      - if phabricator_import_enabled?
        %div
          = link_to new_import_phabricator_path, class: 'btn import_phabricator', data: { track_label: "#{track_label}", track_event: "click_button", track_property: "phabricator" } do
            = custom_icon('issues')
            = _("Phabricator Tasks")


  .js-toggle-content.toggle-import-form{ class: ('hide' if active_tab != 'import') }
    = form_for @project, html: { class: 'new_project' } do |f|
      %hr
      = render "shared/import_form", f: f
      = render 'projects/new_project_fields', f: f, project_name_id: "import-url-name", hide_init_with_readme: true, track_label: track_label
